<div class="container-fluid" *ngIf="process">
  <div class="row">
    <div class="col-12">
      <h1>Processo#{{process.id}} concluído com sucesso!
        <fa name="thumbs-up" class="text-success ml-2"></fa>
      </h1>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-12">
      <p>
        Esta é a página final do processo. Se você chegou até aqui, significa que todas as etapas foram concluídas e
        este processo está concluído.
      </p>
      <hr class="my-4">
      <p>
        <b>OBS: </b>É possível visualizar as etapas do processo, mas não é possível salvar, pois o processo já está
        encerrado.
      </p>
    </div>
  </div>
</div>
