<div class="container-fluid" *ngIf="currentProcess">
  <div class="row">
    <div class="col-12">
      <h1>{{currentStep.title}} (Angular)</h1>
      <small>Última visualização: {{currentStep.lastAcess | date:'dd/MM/yyyy hh:mm:ss'}}</small>
      <small *ngIf="currentStep.lastUpdate"> | Última atualização:
        {{currentStep.lastUpdate | date:'dd/MM/yyyy hh:mm:ss'}}</small>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-4" *ngFor="let item of items">
      <div class="card" [class.selected]="fieldStep.value === item.code" (click)="selectItem(item.code)">
        <div class="wrapper-image">
          <img class="card-img-top" [src]="item.image" [alt]="item.title" />
        </div>
        <div class="card-body">
          <h5 class="card-title">{{item.title}}</h5>
          <p class="card-text">{{item.description | currency}}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row my-5">
    <div class="col-12">
      <button type="button" class="btn btn-primary w-100" [disabled]="!fieldStep.value"
        (click)="submit()">salvar</button>
    </div>
  </div>
</div>
<div class="container-fluid" *ngIf="!currentProcess">
  <div class="row">
    <div class="col-12">
      <h1>Processo não encontrado!</h1>
    </div>
  </div>
</div>
