<div class="container-fluid" *ngIf="process">
  <div class="row">
    <div class="col-12">
      <h1>Dados Profissionais</h1>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-12">
      <ul>
        <li>CV</li>
        <li>Portifólio</li>
      </ul>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-md-2 col col-sm-6">
      <button type="button" class="btn btn-primary w-100" (click)="back()">voltar</button>
    </div>
    <div class="col-md-2 col-sm-6">
      <button type="button" class="btn btn-primary w-100" (click)="next()">próximo</button>
    </div>
  </div>
</div>
