<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <h1>Dados Básicos</h1>

    </div>
  </div>
  <div class="row mt-4">
    <div class="col-12">
      <ul>
        <li>Nome completo</li>
        <li>Nome do pai</li>
        <li>Nome da Mãe</li>
        <li>Profissão</li>
        <li>Nacionalidade</li>
        <li>Naturalidade</li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <app-steps-navigation></app-steps-navigation>
    </div>
  </div>
</div>
