<iframe *ngIf="url && !errorRendered" class="external-contract-frame" frameborder="0" [src]="url"></iframe>
<div *ngIf="errorRendered" class="container-fluid">
  <div class="row">
    <div class="col-9">
      <h1>{{step?.title}}</h1>
      <small>Última visualização: {{step.lastAcess | date:'dd/MM/yyyy hh:mm:ss'}}</small>
      <br />
      <small *ngIf="step.lastUpdate">Última atualização: {{step.lastUpdate | date:'dd/MM/yyyy hh:mm:ss'}}</small>
    </div>
    <div class="col-3">
      <fa class="display-2" name="exclamation-triangle"></fa>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-12">
      <p class="display-4 mb-5">Não foi possível carregar o conteúdo desta etapa. Você pode avançar no processo e tentar
        mais tarde.</p>
    </div>
  </div>
</div>
